/* define colors */
:root {
  --graasp-primary: #5050d2;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* disable uploading images */
[title='Insert image — 9'] {
  display: none !important;
}
